.MainBlock{
    width: 100%;
    height: 200px;
    background-color: red;
    border: 5px solid black;
    text-align: center;
}
.BodyBlock{
    display: flex;
}
.LeftBlock{
    width: 70%;
    height: 300px;
    background-color: yellow;
    border: 5px solid black;
    text-align: center;
}
.RightBlock{
    width: 30%;
    height: 300px;
    background-color: purple;
    border: 5px solid black;
    text-align: center;
}
