/* .first
{
    background-color: red;
    height: 150px;
    width: 500px;
}
.second
{
    background-color: yellow;
    height: 150px;
    width: 500px;
}
.third
{
    background-color:green;
    height: 150px;
    width: 500px;
}
.container
{
    border-color: red;
    border-style:solid;

    width: 500px;

} */

/*1 and 2 quests ^ */
/* .first
{
    position: relative;
    height: 50px;
    width: 50px;

    border:2px solid purple;

    margin-left:10px;
}
.second
{
    position: relative;
    height: 50px;
    width: 50px;

    border:2px solid brown;

    margin-left:10px;
}
.third
{
    position: relative;
    height: 50px;
    width: 50px;

    border:2px solid red;

    margin-left:10px;
}
.four
{
    position: relative;
    height: 50px;
    width: 50px;

    border:2px solid aqua;

    margin-left:10px;
}
.container
{
    display: flex
} */
/* 3 quest ^ */
/* .first
{
    background-color: blue;
    height: 200px;
    width: 200px;

    position: relative;
    left: 100px;
    top: 50px;
}
.second
{
    background-color: orange;
    height: 200px;
    width: 200px;

    position: relative;
    left: 50px;
    top: 25px;
}
.third
{
    background-color: black;
    height: 200px;
    width: 200px;

    position: relative;
} */
/* 4-quest ^ */
/* .first
{
    background-color: blue;
    height: 200px;
    width: 200px;

    position: relative;
    left: 100px;
    top: 50px;

    z-index: 2;
}
.second
{
    background-color: orange;
    height: 200px;
    width: 200px;

    position: relative;
    left: 50px;
    top: 25px;

    z-index: 1;
}
.third
{
    background-color: black;
    height: 200px;
    width: 200px;

    position: relative;
} */
/*4.1-quest ^ */
.container
{
    background-color: blue;
    height: 500px;
    width: 800px;

    position: relative;
    left: 100px;
    top: 50px;
}
.first
{
    background-color: orange;
    height: 300px;
    width: 400px;

    position: absolute;

    left: 400px;
    top: 200px;

    z-index: 1;
}
.second
{
    background-color: black;
    height: 295px;
    width: 450px;

    position: absolute;

    top: 205px;
}
/* 5 quest ^*/