body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(72, 248, 233);
}
.hidden-div{
    display: none;
}
div{
    margin-bottom: 15px;
}
button{
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}

input{
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}
select{
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
}
.hidden-div-loose{
    display: none;
}
.hidden-div-easter-egg7{
    display: none;
}
.hidden-div-easter-egg9{
    display: none;
}
.hidden-div-easter-egg66{
    display: none;
}
.hidden-div-easter-egg96{
    display: none;
}
.hidden-div-easter-egg33{
    display: none;
}
.hidden-div-easter-egg666{
    display: none;
}
.hidden-div-easter-egg777{
    display: none;
}
.hidden-critical-tries{
    display: none;
}