body{
    margin: 0px;
    padding: 0px;
    background-color: darkcyan;
}

.div-flex{
    display: flex;
    justify-content: space-around;
}

.num-field{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: darkmagenta;
}       

button{
    width: 100%;
}

