h1{
    background-color: orange;
    color: blue;
    text-align: center;
}
.for-guests{
    color: black;
}
.text-in-center{
    text-align: center;
}

.text-indent{
    text-indent: 10%;
}
h2{
    background-color: blue;
    color: red;

    text-align: center;
}
