body{
    margin: 0px;
    padding: 0px;
    background-color: purple;
}
.wrapper{
    width: 960px;
    border: solid 2px black;

    margin: 0 auto;
}
.header-image{
    width: 100%;
    height: 400px;

    background-image: url(../img/BackgroundJuwg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

    border-bottom: solid 2px black;
    
    position: relative;
}

.header-text{
    position: absolute;

    text-align: center;
    padding-top: 150px;

    left: 420px;

    color: white;
    font-size: 30px;
}
.menu{
    display: flex;
    justify-content: space-around;
    border-bottom: solid 2px black;
}
.left-content{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.content{
    display: flex;
}
.right-content{
    display: flex;
    flex-direction: column;
    width: 240px;
}
.square-markers{
    list-style-type: square;
}
.markers{
    list-style-type: circle;
}
.center-content{
    display: flex;
    flex-direction: column;
    width: 520px;

    border-left: solid 2px black;
    border-right: solid 2px black;
}
.footer{
    display: flex;
}
.left-footer{
    width:722px;
    border-right: solid 2px black;
    border-top: solid 2px black;
    font-weight: 700;
}
.right-footer{
    width:240px;
    text-align: right;
    border-top: solid 2px black;
}