h1{
    background-color: orange;
    color: blue;
    text-align: center;
}
h2{
    background-color: blue;
    color: red;

    text-align: center;
}
h3{
    text-align: center;
}
.for-guests{
    color: black;
}
.text-in-center{
    text-align: center;
}
.text-indent{
    text-indent: 10%;
}
.structure-wrapper{
    width: 520px;
    height: 100%;

    position: relative;

    background-color: blueviolet;
}
.for-admin{
    width: 520px;
    text-align: center;
    border: solid 2px black;
}
.box-arrows{
    display: flex;
}
.arrow{
    width: 104px;

    text-align: center;
}
.collaborators-group{
    display: flex;
}
.collaborator{
    width: 104px;
    text-align: center;
    border: solid 1px black;
}
.vassal-group{
    display: flex;
}
.vassal{
    width: 86px;
    text-align: center;
    border: solid 1px black;
}
.arrow2{
    width: 86px;

    text-align: center;
}

