body{
    background-color: yellow;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
.text-in-center{
    text-align: center;
}
.text-indent{
    text-indent: 10%;
}
div{
    display: flex;
}
