.container
{
    display: flex;
}

.text
{
    background-color: blue;
    color: red;

    margin-left:0px;
    margin-top:0px;
    margin-right:10px;
    margin-bottom:10px;

    border-style:solid;
    border-width: 15px;
    border-color: brown;

    padding-left:250px;
    padding-top: 5px;
    padding-bottom: 150px;
    padding-right: 150px;

    width: 1000px;
}
body
{
    padding: 0px;
    margin: 0px;
}