h1{
    background-color: red;
    color: blue;
    text-align: center;
}
.DR{
    background-color: darkcyan;
    color: brown;
}
.DP{
    background-color: yellowgreen;
    color: wheat;
}
.DU{
    background-color: green;
    color: red;
}
.DV{
    background-color: blue;
    color: orange;
}
.square-markers{
    list-style-type: square;
}
.markers{
    list-style-type: circle;
}
.Nem{
    background-color: red;
}
h2{
    text-align: center;
}
.classy{
    background-color: aquamarine;
    color: red;
}
.aspect{
    background-color: blueviolet;
    color: orange;
}
.EmeraldoSplasho{
    background-color: darkcyan;
    color: yellow;
}
h2{
    background-color: blue;
    color: red;
}
.KillaQueen{
    background-color: plum;
    color: black;
}
.GoldExperience{
    background-color: pink;
    color: yellow;
}
.Spiderman{
    background-color: red;
    color: blue;
}
.ass{
    background-color: bisque;
}